@import "../_00_core.css";
@import "../_01_theme.css";
@import "../_02_base.css";
@import "../_zz_overrides.css";

@layer base {
  body,
  html {
    overflow: hidden !important;
    background: transparent !important;
  }
}

@layer overrides {
  /* For fusioncharts */
  svg[id^="raphael-"] {
    & > g:not([class*="-parentgroup"]) {
      display: none !important;
    }

    background-color: transparent !important;

    & g[class*="-legendGroup"] text {
      transform: translateY(0.15rem) !important;
      font-size: calc(8px + 1vw) !important;
    }

    & g[class*="-caption"] text:last-of-type {
      font-style: italic !important;
      font-size: small !important;
      transform: translateY(-0.4rem) !important;
    }

    & g[class*="-labels"] text {
      font-size: calc(8px + 0.75vw) !important;

      /* --breakpoint-md: 48rem; */
      @media (min-width: 48rem) {
        body {
          font-size: calc(10px + 0.75vw) !important;
        }
      }
    }
  }
}
