@theme {
  --animate-music-bar-1: music-bar-1 0.8s linear infinite;
  --animate-music-bar-2: music-bar-2 0.8s linear infinite;
  --animate-music-bar-3: music-bar-3 0.8s linear infinite;
  --animate-music-bar-4: music-bar-4 0.8s linear infinite;

  @keyframes music-bar-1 {
    0%,
    100% {
      height: 0%;
    }

    50% {
      height: 70%;
    }
  }

  @keyframes music-bar-2 {
    0%,
    100% {
      height: 50%;
    }

    25% {
      height: 0%;
    }

    75% {
      height: 100%;
    }
  }

  @keyframes music-bar-3 {
    0%,
    100% {
      height: 70%;
    }

    15% {
      height: 100%;
    }

    65% {
      height: 0%;
    }
  }

  @keyframes music-bar-4 {
    0%,
    100% {
      height: 50%;
    }

    35.7% {
      height: 0%;
    }

    85.7% {
      height: 70%;
    }
  }
}
