.loader {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader__line {
  max-width: 8px;
  min-width: 5px;
  max-height: 80px;
  width: 100%;
  height: 100%;
  background: var(--on-background);
  display: inline-block;
  margin: 0 5px;
  animation: loading 1s linear infinite;

  &:nth-child(2) {
    animation-delay: -0.8s;
  }

  &:nth-child(3) {
    animation-delay: -0.7s;
  }

  &:nth-child(4) {
    animation-delay: -0.6s;
  }

  &:nth-child(5) {
    animation-delay: -0.5s;
  }
}

@keyframes loading {
  0%,
  10%,
  80%,
  100% {
    transform: scaleY(0.3);
  }

  30%,
  60% {
    transform: scaleY(1);
  }
}
