@use "@/assets/styles/mixins";

@keyframes morph {
  0% {
    border-radius: 42% 58% 49% 51% / 48% 64% 36% 52%;
  }
  100% {
    border-radius: 50% 50% 55% 45% / 64% 51% 49% 36%;
  }
}

.author {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(
      to bottom right,
      var(--surface) 0%,
      var(--secondary) 100%
    );
    border-radius: 42% 58% 49% 51% / 48% 64% 36% 52%;
    z-index: -1;
    animation: spin 12s linear infinite reverse,
      morph 8s ease-in-out infinite both alternate;
    animation-play-state: paused;
  }

  &:hover {
    &::before {
      animation-play-state: running;
    }

    .author__image {
      border-radius: 50%;
    }
  }

  .author__image {
    transition: border-radius 0.5s ease-in-out;
    border-radius: 50% 50% 55% 45% / 64% 51% 49% 36%;
  }
}

.download-container {
  @include mixins.typography;

  a[target="_blank"]::after {
    display: none;
  }
}

.download__link {
  padding: 1rem 0;
  background: #ffffff;
  border: solid 1px #e6e6e6;
  border-radius: 2px;
  display: inline-block;
  height: 100px;
  line-height: 100px;
  margin: 5px;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 100px;
  span {
    background: #e52210;
    border-radius: 4px;
    color: #ffffff;
    display: inline-block;
    font-size: 11px;
    font-weight: 700;
    line-height: normal;
    padding: 5px 10px;
    position: relative;
    text-transform: uppercase;
    z-index: 1;
  }
  span:last-child {
    margin-left: -20px;
  }
  &::before,
  &::after {
    background: #ffffff;
    border: solid 3px #9fb4cc;
    border-radius: 4px;
    content: "";
    display: block;
    height: 35px;
    left: 50%;
    margin: -17px 0 0 -12px;
    position: absolute;
    top: 50%;
    // transform: translate(-50%, -50%);
    width: 25px;
  }
  &:hover::before,
  &:hover::after {
    background: #e2e8f0;
  }
  &:hover {
    background: #e2e8f0;
    border-color: #9fb4cc;
  }
  &:active {
    background: #dae0e8;
    box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.25);
  }
  span:first-child {
    display: none;
  }
  &:hover span:first-child {
    display: inline-block;
  }
  &:hover span:last-child {
    display: none;
  }
}
