<div class="spotify-embed">
    <iframe
        src="https://open.spotify.com/embed/{{type}}/{{id}}"
        width="{{#options.width}}{{options.width}}{{/options.width}}{{^options.width}}300{{/options.width}}"
        height="{{#options.height}}{{options.height}}{{/options.height}}{{^options.height}}380{{/options.height}}"
        frameborder="0"
        allow="encrypted-media">
    </iframe>
</div>
