<div class="spotify-embed" data-waiting="Recording">
    <iframe
        src="https://open.spotify.com/embed/{{type}}/{{id}}"
        title="Spotify player {{id}}"
        width="{{options.width}}"
        height="{{height}}"
        loading="lazy"
        allow="encrypted-media">
    </iframe>
</div>
