@layer theme {
  @theme {
    /* Animations */
    --animate-fade-in: fade-in 0.3s linear;
    @keyframes fade-in {
      from {
        height: 0;
        opacity: 0;
      }

      to {
        height: auto;
        opacity: 1;
      }
    }

    --animate-fade-in-forwards: fade-in 1s forwards;
    --animate-hero-collapse: hero-collapse 1.5s linear;
    @keyframes hero-collapse {
      0%,
      50% {
        padding-bottom: calc(100vh + 6rem - 600px);
      }

      100% {
        padding-bottom: 0;
      }
    }

    --animate-hero-content-slide: hero-content-slide 1.5s linear;
    @keyframes hero-content-slide {
      0%,
      50% {
        transform: translateY(calc((100vh + 6rem - 600px) / 2));
      }

      100% {
        transform: translateY(0);
      }
    }

    --animate-typing: typing 0.5s steps(20, end) forwards 1s;
    @keyframes typing {
      from {
        width: 0;
      }

      to {
        width: 100%;
      }
    }
  }
}
