@layer components {
  .heading--section {
    @apply heading pb-4;

    &::after {
      content: "";
      position: absolute;
      display: block;
      bottom: 0;
      width: 100%;
      height: 1px;
      opacity: 0.25;
      background-color: var(--primary);
    }
  }
}
