@use "tailwindcss";

@config "../../../tailwind.config.js";

$breakpoint-xs: 30rem;
$breakpoint-2xl: 100rem;
$breakpoint-3xl: 120rem;

:root {
  --breakpoint-xs: #{$breakpoint-xs};
  --breakpoint-2xl: #{$breakpoint-2xl};
  --breakpoint-3xl: #{$breakpoint-3xl};
}

@theme {
  --breakpoint-xs: #{$breakpoint-xs};
  --breakpoint-2xl: #{$breakpoint-2xl};
  --breakpoint-3xl: #{$breakpoint-3xl};
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    @apply box-border border-theme-primary;
  }

  html,
  body {
    @apply m-0 p-0;
  }

  html {
    @apply bg-theme-background font-sans text-sm leading-8 text-theme-on-background antialiased;

    @media screen and (width >= 640px) {
      @apply text-base;
    }
  }

  a:not(.button) {
    @apply transition-all duration-200;
  }

  img {
    @apply max-w-full;
  }

  select {
    appearance: none;
  }

  select::-ms-expand {
    display: none;
  }

  button:not(.interactive):focus,
  textarea:focus,
  input:focus,
  select:focus {
    outline: none;
  }

  hr {
    @apply mx-0 h-px w-full border-0;

    background-image: linear-gradient(
      to right,
      transparent 0%,
      var(--primary) 30%,
      var(--primary) 70%,
      transparent 100%
    );
  }
}

#class-keeper {
  @apply transition-colors duration-500;

  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: -1;
  pointer-events: none;
}
