
// Comment, Prolog, Doctype, CDATA
$fadedColor: slategray;
// Punctuation
$normalColor: var(--primary);
// Pproperty, tag, boolean, number, constant, symbol, deleted
$propertyColor: #c71b7b;
// Selector, attr-name, string, char, builtin, inserted
$selectorColor: #669900;
// Operator, entity, url, string
$operatorColor: var(--primary);
// @at-rule, attr-value, keyword
$atruleColor: #20a7e0;
// function, class-name
$functionColor: #DD4A68;
// Regex, important, variable
$regexColor: #ee9900;

pre {
  @apply px-12 py-2 mb-8 shadow-inner bg-theme-code rounded-b-md;
}

code {
  // Placeholder
}

code[class*="language-"],
pre[class*="language-"] {
  @apply font-mono text-left whitespace-pre break-normal leading-6;
	word-spacing: normal;
	word-wrap: normal;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

@media print {
	code[class*="language-"],
	pre[class*="language-"] {
		text-shadow: none;
	}
}

/* Code blocks */
pre[class*="language-"] {
	@apply overflow-auto;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  @apply whitespace-normal bg-theme-code px-1 shadow-inner;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: $fadedColor;
}

.token.punctuation {
	color: $normalColor;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
	color: $propertyColor;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: $selectorColor;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
	color: $operatorColor;
}

.token.atrule,
.token.attr-value,
.token.keyword {
	color: $atruleColor;
}

.token.function,
.token.class-name {
	color: $functionColor;
}

.token.regex,
.token.important,
.token.variable {
	color: $regexColor;
}

.token.important,
.token.bold {
  @apply font-bold;
}
.token.italic {
  @apply italic;
}

.token.entity {
  cursor: help;
}

.namespace {
  @apply opacity-75;
}

/* Adjust the position of the line numbers */
.gridsome-highlight pre[class*="language-"].line-numbers {
  @apply pl-12;
}

.gridsome-code-title {
  @apply px-4 py-2 bg-theme-surface font-bold rounded-t-md;
}

.line-numbers .line-numbers-rows {
  @apply py-2 mx-2 border-r;
}

.command-line-prompt {
  & > span {
    @apply font-extrabold;
  }
}
