code[data-line-numbers] {
  counter-reset: line;
  padding-top: 1rem;
  padding-bottom: 1rem;

  > span {
    padding-right: 1rem;
  }
}

code[data-line-numbers] > [data-line]::before {
  counter-increment: line;
  content: counter(line);

  /* Other styling */
  display: inline-block;
  width: calc(0.75rem + 0.5rem);
  margin-right: 2rem;
  text-align: right;
  color: gray;
}

code[data-line-numbers-max-digits="2"] > [data-line]::before {
  width: calc(1.25rem + 0.5rem);
}

code[data-line-numbers-max-digits="3"] > [data-line]::before {
  width: calc(1.75rem + 0.5rem);
}

code[data-line-numbers-max-digits="4"] > [data-line]::before {
  width: calc(2.25rem + 0.5rem);
}

html {
  code[data-theme*="dark"],
  code[data-theme*="dark"] span {
    color: var(--shiki-dark);
    background-color: var(--code), var(--shiki-dark-bg);
  }

  &[data-theme="light"] {
    code[data-theme*="light"],
    code[data-theme*="light"] span {
      color: var(--shiki-light);
      background-color: var(--code), var(--shiki-light-bg);
    }
  }

  // Inline
  span > code:not([data-line-numbers]) {
    padding: 0.125em 0.25em;
    background-color: var(--code) !important;
  }

  pre > code:not([data-line-numbers]) {
    padding: 1em;
  }
}

[data-line] {
  &[data-highlighted-line] {
    @apply bg-theme-surface! min-w-full border-l-4 shadow-sm;
  }

  &:not([data-highlighted-line]) {
    @apply ml-1;
  }

  &::before {
    margin-right: 1rem !important;
    @apply border-r border-gray-500 pr-1;
  }
}

figure[data-rehype-pretty-code-figure] {
  position: relative;
  background-color: var(--code);

  > [data-rehype-pretty-code-title] {
    @apply shadow-md;
  }

  &,
  pre,
  code {
    overflow-x: auto;
  }
}
