// Basic hue values
$red-hue: 360;
$blue-hue: 240;
$green-hue: 120;

// Everything is theming based on these main hue values
$main-hue-1: 220;
$main-hue-2: 200;
$main-hue-3: 360;

$colors: (
  // The original colors
  tone-1: hsl($main-hue-1, 100%, 50%),
  tone-2: hsl($main-hue-2, 100%, 50%),
  tone-3: hsl($main-hue-3, 100%, 50%),

  // Light Theme
  tone-light: hsl($main-hue-1, 100%, 50%),
  background-light: hsl($main-hue-1, 50%, 95%),
  on-background-light: hsl($main-hue-1, 50%, 30%),
  primary-light: hsl($main-hue-1, 50%, 50%),
  on-primary-light: hsl($main-hue-1, 50%, 90%),
  secondary-light: hsl($main-hue-1, 45%, 75%),
  on-secondary-light: hsl($main-hue-1, 50%, 30%),
  surface-light: hsl($main-hue-1, 50%, 90%),
  on-surface-light: hsl($main-hue-1, 50%, 35%),
  error-light: hsl($red-hue, 50%, 40%),
  success-light: hsl($green-hue, 50%, 40%),

  // Dark Theme
  tone-dark: hsl($main-hue-2, 100%, 50%),
  background-dark: hsl($main-hue-2, 50%, 15%),
  on-background-dark: hsl($main-hue-2, 50%, 80%),
  primary-dark: hsl($main-hue-2, 50%, 70%),
  on-primary-dark: hsl($main-hue-2, 50%, 10%),
  secondary-dark: hsl($main-hue-2, 60%, 25%),
  on-secondary-dark: hsl($main-hue-2, 20%, 85%),
  surface-dark: hsl($main-hue-2, 50%, 18%),
  on-surface-dark: hsl($main-hue-2, 50%, 85%),
  error-dark: hsl($red-hue, 50%, 70%),
  success-dark: hsl($green-hue, 50%, 60%),
);
