/*
Mobile first approach
In sync with the
default values of TailwindCSS
*/

@mixin Responsive($canvas) {
  $XS: 480px; /* Custom added */
  $SM: 640px;
  $MD: 768px;
  $LG: 1024px;
  $XL: 1280px;
  @if $canvas == XS {
   @media only screen and (min-width: $XS) {
     @content;
   }
  }
  @else if $canvas == SM {
   @media only screen and (min-width: $SM) {
     @content;
   }
  }
  @else if $canvas == MD {
   @media only screen and (min-width: $MD) {
     @content;
   }
  }
  @else if $canvas == LG {
    @media only screen and (min-width: $LG) {
      @content;
    }
   }
  @else if $canvas == XL {
   @media only screen and (min-width: $XL) {
     @content;
   }
  }
}

@mixin typography {
  p {
    margin-bottom: 1.25em;
  }

  h1, h2, h3, h4, h5 {
    transition: color .6s;
    color: var(--title-color);
    margin: 2.75rem 0 1rem;
    font-weight: 600;
    line-height: 1.15;
  }

  h1 {
    margin-top: 0;
    font-size: 1.802em;
  }

  h2 {font-size: 1.602em;}

  h3 {font-size: 1.424em;}

  h4 {font-size: 1.266em;}

  h5 {font-size: 1.125em;}

  small {font-size: 0.889em;}

  strong {
    font-weight: 600;
  }

  blockquote {
    border-left-width: 4px;
    border-left-style: solid;
    padding-left: 1.5em;
  }

  em {
    font-style: italic;
  }

  ul {
    list-style-type: disc;
    margin-left: 1.25em;
    margin-bottom: 1.25em;
    li {
      margin-bottom: .6em;
    }
  }

  ol {
    list-style-type: decimal;
    margin-left: 1.25em;
    margin-bottom: 1.25em;
    li {
      margin-bottom: .6em;
    }
  }
}

@mixin alterScrollbars($size, $moz-size, $foreground-color, $background-color) {
  &::-webkit-scrollbar {
    width: $size;
    height: $size;
  }

  &::-webkit-scrollbar-thumb {
    background: $foreground-color;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: mix($foreground-color, #000000, 80%);
  }

  &::-webkit-scrollbar-track {
    background: $background-color;
  }

  &::-webkit-scrollbar-corner {
    background-color: $background-color;
  }
  /* Firefox */
  scrollbar-color: $foreground-color $background-color;
  scrollbar-width: $moz-size; /* thin auto none */
}

@mixin scrollbars($selector, $size, $moz-size, $foreground-color, $background-color) {
  #{$selector} {
    &::before, &::after {
      @include alterScrollbars($size, $moz-size, $foreground-color, $background-color);
    }
    @include alterScrollbars($size, $moz-size, $foreground-color, $background-color);
  }
}
