@use "mixins" as *;
@use "constants" as *;
@use "sass:map";

$primary-light: map.get($colors, "primary-light");
$primary-dark: map.get($colors, "primary-dark");

html,
body {
  @include apply-scrollbar(10px, $primary-dark, #2e3645);

  &[data-theme="light"] {
    @include apply-scrollbar(10px, $primary-light, #2e3645);
  }
}

@keyframes bar-progress {
  0% {
    background-position: 0% 0;
  }

  100% {
    background-position: 125% 0;
  }
}

// For fusioncharts
svg[id^="raphael-"] {
  & > g:not([class*="-parentgroup"]) {
    display: none !important;
  }

  background-color: transparent !important;

  & g[class*="-legendGroup"] text {
    transform: translateY(0.15rem) !important;
    font-size: calc(8px + 1vw) !important;
  }

  & g[class*="-caption"] text:last-of-type {
    font-style: italic !important;
    font-size: small !important;
    transform: translateY(-0.4rem) !important;
  }

  & g[class*="-labels"] text {
    font-size: calc(8px + 0.75vw) !important;
    @screen md {
      font-size: calc(10px + 0.75vw) !important;
    }
  }
}

.mermaid {
  @apply transition-opacity;

  opacity: 0;

  &[data-processed="true"] {
    opacity: 1;
  }

  > svg {
    background-color: var(--on-surface-dark);
  }
}

pre.mermaid {
  overflow: auto;
  white-space: normal;
}
