.pagination-wrapper {
  @apply inline-flex w-full items-center justify-center rounded-sm py-12 pl-0;

  & > a {
    @apply relative float-left flex cursor-pointer border bg-theme-background px-4 py-2 leading-6 text-theme-on-background no-underline;

    &:first-of-type {
      @apply rounded-l;
    }

    &:last-of-type {
      @apply rounded-r;
    }

    &:hover,
    &:focus {
      @apply z-10 bg-theme-secondary text-theme-on-secondary;
    }

    &.active,
    &.active:hover,
    &.active:focus {
      @apply z-20 cursor-default bg-theme-primary text-theme-on-primary outline-hidden;
    }

    &.disabled,
    &.disabled:hover,
    &.disabled:focus {
      @apply cursor-not-allowed;
    }
  }
}
