.pagination-wrapper {
  @apply inline-flex w-full items-center justify-center rounded-sm py-12 pl-0;

  & > a {
    @apply bg-theme-background text-theme-on-background relative float-left flex cursor-pointer border px-4 py-2 leading-6 no-underline;

    &:first-of-type {
      @apply rounded-l;
    }

    &:last-of-type {
      @apply rounded-r;
    }

    &:hover,
    &:focus {
      @apply bg-theme-secondary text-theme-on-secondary z-10;
    }

    &.active,
    &.active:hover,
    &.active:focus {
      @apply bg-theme-primary text-theme-on-primary z-20 cursor-default outline-hidden;
    }

    &.disabled,
    &.disabled:hover,
    &.disabled:focus {
      @apply cursor-not-allowed;
    }
  }
}
