.fade-enter-active,
.fade-leave-active {
  transition-property: opacity;
  transition-duration: 0.5s;
}

.fade-enter-active {
  transition-delay: 0.5s;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

.list-border {
  & > li {
    padding-bottom: 1px;
    background: linear-gradient(
      to right,
      transparent 0%,
      var(--primary) 30%,
      var(--primary) 70%,
      transparent 100%
    ), linear-gradient(
      to right,
      transparent 0%,
      var(--primary) 30%,
      var(--primary) 70%,
      transparent 100%
    );
    background-size: 100% 1px;
    background-position: bottom 0 left 0, bottom 1px left 0;
    background-repeat: no-repeat;

    &:first-of-type {
      background-size: 100% 2px;
      background-position: top 0 left 0, bottom 0 left 0;
      padding-top: 1px;
      padding-bottom: 1px;
    }
  }
}
