/*
  Generate variables based on theme
  Ex:
  `--primary` on `light` theme will take the value of `--primary-light` variable in :root
*/

@mixin color-variables($theme) {
  $list:
    "primary",
    "on-primary",
    "secondary",
    "on-secondary",
    "surface",
    "on-surface",
    "background",
    "on-background"
  ;
  @each $var in $list {
    --#{$var}: var(--#{$var}-#{$theme});
  }
}

:root {
  /*
    Base variables
    Won't be used directly in most case
  */

  // For reference
  // --red-hue: 360;
  // --blue-hue: 240;
  // --green-hue: 120;

  // Everything is theming based on these main hue values
  --main-hue-1: 220;
  --main-hue-2: 200;
  --main-hue-3: 360;

  // The original colors
  --tone-1: hsl(var(--main-hue-1), 100%, 50%);
  --tone-2: hsl(var(--main-hue-2), 100%, 50%);
  --tone-3: hsl(var(--main-hue-3), 100%, 50%);

  // Light Theme
  --background-light: hsl(var(--main-hue-1), 50%, 95%);
  --on-background-light: hsl(var(--main-hue-1), 50%, 30%);

  --primary-light: hsl(var(--main-hue-1), 50%, 50%);
  --on-primary-light: hsl(var(--main-hue-1), 50%, 90%);

  --secondary-light: hsl(var(--main-hue-1), 93%, 88%);
  --on-secondary-light: hsl(var(--main-hue-1), 50%, 30%);

  --surface-light: hsl(var(--main-hue-1), 50%, 90%);
  --on-surface-light: hsl(var(--main-hue-1), 50%, 30%);

  // Dark Theme
  --background-dark: hsl(var(--main-hue-1), 50%, 20%);
  --on-background-dark: hsl(var(--main-hue-1), 50%, 80%);

  --primary-dark: hsl(var(--main-hue-1), 50%, 70%);
  --on-primary-dark: hsl(var(--main-hue-1), 50%, 10%);

  --secondary-dark: hsl(var(--main-hue-1), 50%, 30%);
  --on-secondary-dark: hsl(var(--main-hue-1), 20%, 85%);

  --surface-dark: hsl(var(--main-hue-1), 50%, 25%);
  --on-surface-dark: hsl(var(--main-hue-1), 50%, 85%);
}

body {
  // Default dark theme
  @include color-variables("dark");

  &[data-theme="light"] {
    @include color-variables("light");
  }

  --code: rgba(0, 0, 0, .3);
  --header-height: 60px;
}
