/*
  Generate variables based on theme
  Ex:
  `--primary` on `light` theme will take the value
    of `--primary-light` variable in :root
*/

@mixin color-variables($theme) {
  $list:
    "primary",
    "secondary",
    "surface",
    "background",
    "error",
    "link",
    "accent";
  @for $i from 1 through length($list) {
    --#{nth($list, $i)}: var(--#{nth($list, $i)}-#{$theme});
  }
}

:root {
  /*
    Base variables
    Won't be used directly in any case
  */
  --primary-light: #2a4365;
  --primary-dark: #e2e8f0;

  --secondary-light: rgb(22, 73, 133);
  --secondary-dark: rgb(22, 73, 133);

  --surface-light: rgb(22, 73, 133);
  --surface-dark: rgb(22, 73, 133);

  --background-light: #ffffff;
  --background-dark: #18283f;

  --error-light: #ff0000;
  --error-dark: #ff0000;

  --link-light: #{lighten(#2a4365, 10%)};
  --link-dark: #{darken(#e2e8f0, 10%)};

  --accent-light: #0851b6;
  --accent-dark: #0851b6;
}

body {
  @include color-variables("dark");

  &[data-theme="light"] {
    @include color-variables("light");
  }

  --border: var(--accent);

  --code: rgba(0, 0, 0, .3);

  --header-height: 60px;
}
